
.pane2 {
    -fx-background-color: #ec9300;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.pane4 {
    -fx-background-color: #a18658;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.pane8 {
    -fx-background-color: #defc6d;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.pane16 {
    -fx-background-color: #91b216;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.pane32 {
    -fx-background-color: #16b293;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.pane64 {
    -fx-background-color: #418175;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.pane128 {
    -fx-background-color:#ff6ef0 ;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.pane256 {
    -fx-background-color: #e06eff;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.pane512 {
    -fx-background-color: #ff6e91;
    -fx-border-color: black;
    -fx-font-weight : bold;
}


.pane1024 {
    -fx-background-color: #da9eac;
    -fx-border-color: black;
    -fx-font-weight : bold;
}
.pane2048 {
    -fx-background-color: #b2a3a6;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.pane4096 {
    -fx-background-color: #ff0033;
    -fx-border-color: black;
    -fx-font-weight : bold;
}

.gridpane {
    -fx-border-color: black;
    -fx-grid-lines-visible: true;
    -fx-border: 2px solid;
    -fx-halignment: center;
    -fx-alignment: CENTER;  
}


.tuile {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 47 33 47;
}
.tuile10 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 39 33 39;
}

.tuile100 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 31 33 31;
}
.tuile1000 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 23 33 23;

}
.tuile10000 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 15 33 15;
}


.fond{
    -fx-background-color: greenyellow;
}

.grille{
    -fx-rotate: 90;
}

.grille1{
    -fx-rotate: 180;
}

.grille2{
    -fx-rotate: 270;
}