* {
    /* Couleur des tuiles : */
    -color-pane2 : #F7F0E8;
    -color-pane4 : #F7EAE8;
    -color-pane8 : #defc6d;
    -color-pane16 : #91b216;
    -color-pane32 : #16b293;
    -color-pane64 : #418175;
    -color-pane128 : #ff6ef0;
    -color-pane256 : #e06eff;
    -color-pane512 : #ff6e91;
    -color-pane1024 : #da9eac;
    -color-pane2048 : #b2a3a6;
    -color-pane4096 : #ff0033;

    /** couleur du background de la fenetre*/
    -color-bg :purple;
    /** couleur des bordures de la grille */
    -color-border-grid : black;
    /** couleur du background de la grille*/
    -color-bg-grid : WHITE;
    /** couleur du background du chrono*/
    -color-chrono : pink;
    /** couleur du background du score*/
    -color-score :  #F5CBA7;
    /** couleur du background des mouvements */
    -color-score2 :  blue;
    /** couleur de titre play */
    -color-title: red; 
    /** couleur des boutons fléchés */
    -color-cmdSouris:pink;
    /** couleur show/hide cmd */
    -color-btnCmd:pink;
    /** Couleur fond grille */
    -color-grille: pink;
    /** Couleur MenuBar */
    -color-menuBar: pink;
    /** Couleur fond retourArriere */
    -color-retourArr: pink;

}
.bTop,.bRight,.bLeft,.bBot,.bTpg,.bTpd{
    -fx-background-color: -color-cmdSouris;
}
/** Couleur des boutons */
.hide{
    -fx-background-color: -color-btnCmd;
}
.backHome{
    background-color: -color-cercleArr;
}
.fond{
    -fx-background-color: -color-bg;
} 
.playLabel{
    -fx-text-fill: -color-title;
}
.goBack{
    -fx-background-color: -color-retourArr;
}
.menuBar{
    -fx-background-color: -color-MenuBar;
}
.scorePane{
    -fx-background-color : -color-score;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
}
.scorePane2{
    -fx-background-color : -color-score2;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
}

.chronoPane {
    -fx-background-color :  -color-chrono;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
}
.grille,.grille1,.grille2 {
    -fx-border-color: #F4DEDD; /*rosepale*/
    -fx-grid-lines-visible: true;
    -fx-border-style  : solid;
    -fx-halignment: center;
    -fx-alignment: CENTER;
    -fx-background-color: -color-grille ;  /*rosetrespale*/
} /*grilles */


.pane2 {
    -fx-background-color: -color-pane2;
    -fx-border-color: black; /*fondpage*/
}

.pane4 {
    -fx-background-color: -color-pane4 ;
    -fx-border-color: black; /*fondpage*/
}

.pane8 {
    -fx-background-color:  -color-pane8; /*rose1*/
    -fx-border-color: black;
}

.pane16 {
    -fx-background-color: -color-pane16; /* rose1*/
    -fx-border-color: black;
}

.pane32 {
    -fx-background-color: -color-pane32; /*rose1++*/
    -fx-border-color: black;
}

.pane64 {
    -fx-background-color: -color-pane64; /*rouge1*/
    -fx-border-color: black;
}

.pane128 {
    -fx-background-color: -color-pane128; /*rosebeige*/
    -fx-border-color: black;
}

.pane256 {
    -fx-background-color: -color-pane256; /*beige1*/
    -fx-border-color: black;
}

.pane512 {
    -fx-background-color: -color-pane512; /*beige2*/
    -fx-border-color: black;
}

.pane1024 {
    -fx-background-color: -color-pane1024;
}

.pane2048 {
    -fx-background-color: -color-pane2048;
    -fx-border-color: black;
}

.pane4096 {
    -fx-background-color: -color-pane4096;
    -fx-border-color: black;
}

.pane8192 {
    -fx-background-color: -color-pane8192;
    -fx-border-color: black;
}

.pane16384 {
    -fx-background-color: -color-pane16384;
    -fx-border-color: black;
}

.tuile {
    -fx-text-alignment: center;
    -fx-halignment: center;
    -fx-text-fill: black;
    -fx-font-size: 30;
    -fx-padding: 33 47 33 47;
}
.tuile10 {
    -fx-text-alignment: center;
    -fx-halignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 39 33 39;
}

.tuile100 {
    -fx-text-alignment: center;
    -fx-halignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 31 33 31;
}
.tuile1000 {
    -fx-text-alignment: center;
    -fx-halignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 23 33 23;
}
.tuile10000 {
    -fx-text-alignment: center;
    -fx-halignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 15 33 15;
}
