* {
    /* Couleur des tuiles : */
    -color-pane2 : #F7F0E8;
    -color-pane4 : #F7EAE8;
    -color-pane8 : #CF8C7D;
    -color-pane16 : #D28979;
    -color-pane32 : #CF846E;
    -color-pane64 : #C24B47;
    -color-pane128 : #CBA662;
    -color-pane256 : #CBAA62;
    -color-pane512 : #C9A85E;
    -color-pane1024 : #C2A147;
    -color-pane2048 : #BB923E;
    -color-pane4096 : #58221D;
    -color-pane8192 :#58221D;
    -color-pane16384 : #F7F0E8;

    /*couleur du background de la fenetre*/
    -color-bg : #F7F0E8;
    /* couleur des bordures de la grille */
    -color-border-grid : black;
    /* couleur du background de la grille*/
    -color-bg-grid : WHITE;
    /* couleur du background du chrono*/
    -color-chrono : #F9E79F;
    /* couleur du background des scores*/
    -color-score :  #F5CBA7;
}

.fond{
    -fx-background-color: -color-bg;
} /* page blanche */

.mvtPane, .scorePane {
    -fx-background-color : -color-score;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
}

.chronoPane {
    -fx-background-color :  -color-chrono;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
}

.grille {
    -fx-border-color: #F4DEDD; /*rosepale*/
    -fx-grid-lines-visible: true;
    -fx-border-width: 2px ;
    -fx-border-style  : solid;
    -fx-halignment: center;
    -fx-alignment: CENTER;
    -fx-background-color: #F7E9E8 ;  /*rosetrespale*/
} /*grilles */


.tuile {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: black;
    -fx-font-size: 30;
    -fx-padding: 33 47 33 47;
}
.tuile10 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 39 33 39;
}

.tuile100 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 31 33 31;
}
.tuile1000 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 23 33 23;
}
.tuile10000 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 15 33 15;
}
