* {
    /* Couleur des tuiles : */
    -color-pane2 : #7DE289;
    -color-pane4 : #88D794;
    -color-pane8 : #26735D;
    -color-pane16 : #216352;
    -color-pane32 : #205060;
    -color-pane64 : #1B3B50;
    -color-pane128 : #949BDB;
    -color-pane256 : #858AD6;
    -color-pane512 : #7577D1;
    -color-pane1024 : #6678D1;
    -color-pane2048 : #A3E0D1;
    -color-pane4096 : #1E0B22;
    -color-pane8192 : #1E0B22;
    -color-pane16384 : #1E0B22;

    /*couleur du background de la fenetre*/
    -color-bg : #0F0A1F;
    /* couleur des bordures de la grille */
    -color-border-grid : black;
    /* couleur du background de la grille*/
    -color-bg-grid : WHITE;
    /* couleur du background du chrono*/
    -color-chrono : #2F658E;
    /* couleur du background des scores*/
    -color-score :  #40BFBF;
}
/* page blanche */
.fond{
    -fx-background-color: -color-bg;
} 

.mvtPane, .scorePane {
    -fx-background-color : -color-score;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
}

.chronoPane {
    -fx-background-color :  -color-chrono;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
}

.grille {
    -fx-border-color: #F4DEDD; /*rosepale*/
    -fx-background-color:pink;
    -fx-grid-lines-visible: true;
    -fx-border-width: 2px ;
    -fx-border-style  : solid;
    -fx-halignment: center;
    -fx-alignment: CENTER;
} /*grilles */


.tuile {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-padding: 33 47 33 47;
}
.tuile10 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-padding: 33 39 33 39;
}

.tuile100 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-padding: 33 31 33 31;
}
.tuile1000 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-padding: 33 23 33 23;
}
.tuile10000 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-padding: 33 15 33 15;
}