
.pane2 {
    -fx-background-color: #F7F0E8;
    -fx-border-color: black; /*fondpage*/
}

.pane4 {
    -fx-background-color: #F7EAE8 ;
    -fx-border-color: black; /*fondpage*/
}

.pane8 {
    -fx-background-color:  #CF8C7D; /*rose1*/
    -fx-border-color: black;
}

.pane16 {
    -fx-background-color: #D28979; /* rose1*/
    -fx-border-color: black;
}

.pane32 {
    -fx-background-color: #CF846E; /*rose1++*/
    -fx-border-color: black;
}

.pane64 {
    -fx-background-color: #C24B47; /*rouge1*/
    -fx-border-color: black;
}

.pane128 {
    -fx-background-color:#CBA662; /*rosebeige*/
    -fx-border-color: black;
}

.pane256 {
    -fx-background-color: #CBAA62; /*beige1*/
    -fx-border-color: black;
}

.pane512 {
    -fx-background-color: #C9A85E; /*beige2*/
    -fx-border-color: black;
}

.pane1024 {
    -fx-background-color: #C2A147;
    -fx-border-color: black;
}

.pane2048 {
    -fx-background-color: #BB923E;
    -fx-border-color: black;
}

.pane4096 {
    -fx-background-color: #58221D;
    -fx-border-color: black;
}

.pane8192 {
    -fx-background-color: #58221D;
    -fx-border-color: black;
}

.pane16384 {
    -fx-background-color: #58221D;
    -fx-border-color: black;
}
.fond{
    -fx-background-color: #F7F0E8;
} /* page blanche */

.gridpane {
    -fx-border-color: #F4DEDD; /*rosepale*/
    -fx-grid-lines-visible: true;
    -fx-border: 2px solid;
    -fx-halignment: center;
    -fx-alignment: CENTER;
    -fx-background-color: #F7E9E8 ;  /*rosetrespale*/
} /*grilles */


.tuile {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: black;
    -fx-font-size: 30;
    -fx-padding: 33 47 33 47;
}
.tuile10 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 39 33 39;
}

.tuile100 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 31 33 31;
}
.tuile1000 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 23 33 23;
}
.tuile10000 {
    -fx-text-alignment: center;
    -fx-halignment: center; 
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 33 15 33 15;
}
